<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<filter>
		<filter-name>whale</filter-name>
		<filter-class>org.nutz.mvc.WhaleFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
			http.hidden_method_param=_method
			http.method_override=true
			
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>whale</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>nutz</filter-name>
        <filter-class>org.nutz.mvc.NutFilter</filter-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>org.nutz.mvc.testapp.classes.MainModule</param-value>
		</init-param>
	</filter>

	<filter-mapping>
        <filter-name>nutz</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.nutz.mvc.NutSessionListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>