/bin
/*.classpath
/*.project
/tmp/
/.settings/
*.DS_Store
/target/
/test/nutz-test.properties
/test/log4j.properties
/build/tmp
/build/pub
/mores
/root
/performance
/.idea
/build/.gradle
/build/target/
/build/gradle-app.setting
/build/docs
/build/resources
/build/classes
/build/libs
.gradle
local.properties
/mysrc
*.iml
