package domains;

import org.nutz.dao.entity.annotation.*;

@Table("${low_domain_name}")
public class ${domain_name} {
	@Id
	private Long id;
	@Name
	private String name;
	
	public Long getId() {
		return id;
	}
	public void setId(Long id) {
		this.id = id;
	}
	public String getName() {
		return name;
	}
	public void setName(String name) {
		this.name = name;
	}
}
