* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: scroll;
    background: #CCC url(sitebg.png) no-repeat fixed;
}

td, th, font, p, #arena li {
    font-size: 12px;
}

.hdn {
    display: none;
}

#arena {
    margin-top: 30px;
    margin-left: 260px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 8px 0 0 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);
}

#arena p {
    line-height: 20px;
    color: #444;
}

#arena p, #arena table {
    margin-left: 20px;
}

#arena ul, #arena ol {
    border-radius: 4px;
    line-height: 18px;
    margin-right: 10px;
    color: #000;
}

#arena h1 {
    font-size: 20px;
    padding: 10px;
    background-color: #F0F0F0;
    border-radius: 6px;
    border: 1px dotted #F80;
    color: #D60;
    margin-top: 20px;
}

#arena h2 {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 6px;
    border-left: 4px solid #F80;
    border-top: 1px dotted rgba(255, 128, 0, 0.2);
}

#arena h3, #arena h4, #arena h5, #arena h6 {
    font-size: 14px;
}

#arena pre {
    font-size: 12px;
    font-family: Courier;
    color: #00A;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 8px;
    border: 1px dashed #CCC;
    margin-left: 20px;
}

#arena .zdoc_header {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 8px #888;
}

#arena .zdoc_author {
    text-align: center;
    font-size: 11px;
    color: #080;
}

#arena .zdoc_author em {
    color: #AAA;
}

#arena .zdoc_author em, #arena .zdoc_footer em {
    margin-right: 8px;
}

#arena .zdoc_author b, #arena .zdoc_footer b {
    margin-right: 8px;
}

#arena .zdoc_footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 11px;
    padding: 4px;
    background-color: #CCC;
    opacity: 0.5;
    border-radius: 6px 0 0 0;
}

#nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 260px;
    height: 100%;
    overflow: auto;
    padding-left: 0;
    padding-bottom: 20px;
    padding-top: 80px;
    line-height: 20px;
    font-size: 12px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 8px;
}

#nav .num {
    width: 36px;
    display: inline-block;
    color: #666;
    font-size: 10px;
}

#nav li {
    display: none;
    padding-left: 6px;
    border-radius: 4px 0 0 4px;
}

#nav li.hlt {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

#nav li.current, #nav li.current li {
	display:block;
}

#nav a {
    text-decoration: none;
    color: #444;
}

#nav a:hover {
    color: #00F;
    text-decoration: underline;
}

#nav .hlt a {
    color: #000;
    font-weight: bold;
    text-shadow: 2px 2px 4px #888;
    text-decoration: none;
}

#nav .inner_anchors {
    margin-left: 10px;
    padding-bottom: 10px;
}

#nav .inner_anchors .anchor {
    border-left: 1px solid #CCC;
    padding-left: 10px;
    color: #080;
    cursor: pointer;
}

#nav .hlt .num {
    font-weight: bold;
    font-size: 14px;
    color: #F0F;
}

#nav .inner_anchors .h2 {
    padding-left: 24px;
    font-size: 11px;
}

#nav .inner_anchors .anchor:hover {
    text-decoration: underline;
}

#nav .zdoc_folder {
    color: #000;
}

#sky a {
    text-decoration: none;
    color: #444;
}

#sky .hlt a {
    text-decoration: none;
    text-shadow: 1px 1px 2px #888;
    color: #000;
}

#sky {
    position: fixed;
    top: 0px;
    right: 0;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    padding-right: 16px;
    background-color: #CCC;
    margin-left: 260px;
}

#sky:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#sky ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

#sky li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 3px solid #CCC;
    margin-left: 1px;
}

#sky li:hover {
    background-color: #EEE;
}

#sky li:hover a {
    color: #666;
}

#sky li.hlt {
    background-color: #FFF;
    border-radius: 4px 4px 0 0;
    border-top-color: #F80;
    box-shadow: -2px -2px 2px #888;
}


