<html>
<head>
<title><#noparse>$</#noparse>{msg["${domain_name}.listName"]}列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="layout" content="adminmain">
</head>
<body>
<div class="row">
					<#noparse>
		 			<div class="span12">
		 				<#if message??>
			 				<div class="badge badge-info">
								${message}			 					
			 				</div>
		 				</#if>
		 				<#if obj.results??>
		 					</#noparse>
		 				<form action="<#noparse>${base }</#noparse>/${low_domain_name}/deleteAll" method="post">
		 					<table width="100%">
		 						<thead>
		 							<tr>
		 								<td><input type="checkbox" id="ids" class="selectAll"><input class="btn" type="submit" value="删除"/></td>
		 								<#list properties as p>
		 									<td><#noparse>$</#noparse>{msg["${domain_name}.${p.name}"]}</td>
		 								</#list>
		 								<td>操作</td>
		 							</tr>
		 						</thead>
		 						<tbody><#noparse>
		 							<#list obj.results as it>
		 							<tr>
		 								<td><input type="checkbox" name="ids" value="${it.id!'' }"></td>
		 								</#noparse>
		 								<#list properties as p>
		 									<td><#noparse>$</#noparse>{it.${p.name}!''}</td>
		 								</#list>
		 								<#noparse>
		 								<td>
		 									<a href="${base }</#noparse>/${low_domain_name}/edit?id=<#noparse>${it.id!''}">编辑</a>
		 									<a href="${base }</#noparse>/${low_domain_name}/delete?id=<#noparse>${it.id!''}</#noparse>">删除</a>
										</td >
		 							</tr>
		 							<#noparse>
		 							</#list>
		 							</#noparse>
		 						</tbody>
		 					</table>
	 					</form>
	 					<div class="row">
							<div class="span12 pager">
							<#noparse>
								<#if ! obj.pager.first>
									<a href="${base }</#noparse>/${low_domain_name}/list?offset=<#noparse>${obj.pager.pageNumber -1}" class="before">上一页</a>
								</#if>
								<span >第${obj.pager.pageNumber}页，总页数：${obj.pager.pageCount}，总记录：${obj.pager.recordCount }</span>
								<#if ! obj.pager.last>
									<a href="${base }</#noparse>/${low_domain_name}/list?offset=<#noparse>${obj.pager.pageNumber +1}</#noparse>" class="after">下一页</a>
								<#noparse>
								</#if>
								</noparse>
							</div>
						</div>
						<#noparse>
							<#else>
	 						没有$</#noparse>{msg["${domain_name}.listName"]}，去<a href="<#noparse>${base }</#noparse>/${low_domain_name}/create">添加</a>
	 					<#noparse>
	 					</#if>
	 					</#noparse>
		 			</div>
		 	</div>
</body>
</html>