<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
	<title>Nutz (de) 文档</title>
	<script language="Javascript" src="_rs/jquery.js"></script>
	<script language="Javascript" src="_rs/z.js"></script>
	<script language="Javascript" src="_rs/site.js"></script>
	<link rel="stylesheet" type="text/css" href="_rs/site.css"></link>
</head>
<body>
	<div id="arena"></div>
	<div id="sky"></div>
	<div id="nav"></div>
	<div id="indexes" class="hdn">${html}</div>
</body>
</html>
