/*---------------------------------------------------------------------------
 * Body
 */
body{
	
}

body,font,td,form,.zdoc_body{
	font-family: arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0px;
}

hr, div.hr{
	display:none;
}

p{
	margin-left:20px;
}

/*---------------------------------------------------------------------------
 * Document
 */
.zdoc_header{
	font-size: 28px;
	font-weight: bold;
	padding: 16px;
	background-color: #DDDDFF;
	border:1px dashed #33A;
}

.zdoc_footer{
	border-top:1px solid #AAAAAA;
	background-color: #DDDDDD;
	padding: 5px;
	padding-right:15px;
	margin: 0px;
	margin-top: 50px;
	text-align: right;
	font-size: 11px;
}

.zdoc_author{
	text-align:right;
	padding-right:10px;
	font-size: 11px;
	margin-bottom: 10px;
}

.zdoc_footer b, .zdoc_author b{
	color: #66A;
	display: inline-block;
	margin-left:10px;
	margin-right:2px;
}

.zdoc_footer em, .zdoc_author em{
	margin-left:10px;
	font-weight:bold;
	color:#999;
}

/*---------------------------------------------------------------------------
 * Heading
 */
h1{
	color:#00A;
	font-size:20px;
	font-weight:bold;
	border-bottom:2px solid #FD3;
	background-color:#FEA;
	margin:2px;
	padding:5px;
	padding-left:10px;
}

h2{
	color:#00C;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px dotted #FD8;
	background-color:#FEC;
	margin:2px;
	padding:5px;
	text-indent:8px;
}

h3,h4,h5,h6{
	color: #0000DD;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px dotted #555;
	background-color:#DDDDDD;
	margin:2px;
	padding:2px;
	text-indent:16px;
}

table{
	margin-top:10px;
	margin-bottom:10px;
}
/*---------------------------------------------------------------------------
 * Code
 */
pre{
	color: #126;
	font-family:Courier New;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0px;

	border-left:4px solid #CCCCCC;
	padding: 10px;
	margin-left:30px;
}

table{
	margin-left:30px;
}
/*---------------------------------------------------------------------------
 * Index table
 */
.zdoc_body ul, .zdoc_body ol{
	padding-top:10px;
	padding-bottom:10px;
	margin-left:30px;
	padding-left:30px;
	margin-bottom:10px;
	border-left:4px solid #BEA;
}

ul.zdoc_index_table{
	border:1px dashed #ADF;
	background-color:#EEE;
	display:inline-block;
	padding:20px;
	min-width:300px;
	margin:10px;
	border:0px;
	padding-left:30px;
}

ul.zdoc_index_table .num{
	color:#B66;
	display:inline-block;
	font-weight:normal;
	margin-right:10px;
}

ul.zdoc_index_table, ul.zdoc_index_table ul{
	border:0px;
}

.zdoc_body ul ul, .zdoc_body  ul ol, .zdoc_body  ol ol, .zdoc_body  ol ul{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:30px;
	margin-left:14px;
	border-left:3px dotted #E0E0E0;
}

ul.zdoc_index_table ul{
	margin-left:27px;
	padding-left:10px;
	border-left-color:#CCCCCC;
}